{% extends "Y/base.html" %}

{% block content %}
    <h2>DM受信箱</h2>
    <h3>送信済みメッセージ</h3>
    {% for message in sent_messages %}
        <div>
            <strong>{{ message.receiver.username }}:</strong> {{ message.content }} <small>({{ message.created_at }})</small>
        </div>
    {% empty %}
        <p>送信したメッセージはありません。</p>
    {% endfor %}
    
    <h3>受信メッセージ</h3>
    {% for message in received_messages %}
    <div class="message">
    <p><strong>{{ message.sender.username }}</strong>: {{ message.content }}</p>
    <p><small>{{ message.created_at }}</small></p>
    {% if not message.is_reply %}
        <a href="{% url 'send_dm' message.sender.username %}?parent_message_id={{ message.id }}">返信</a>
    {% endif %}
    </div>
{% endfor %}
{% endblock %}
