{% extends "Y/base.html" %}

{% block content %}
    <h2>{{ receiver.username }} にメッセージを送信</h2>
    <form method="POST">
        {% csrf_token %}
        <textarea name="content" placeholder="メッセージを入力"></textarea>
        {% if parent_message %}
            <input type="hidden" name="parent_message_id" value="{{ parent_message.id }}">
            <p>返信先: {{ parent_message.sender.username }} のメッセージ</p>
        {% endif %}
        <button type="submit">送信</button>
        </form>
        
{% endblock %}
